.footer{
    padding: 20px 7%;
    background-color: #CCCCC0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: relative;
}
.social-icon{
    margin-left: 30px;
}
.social-icon i{
    font-size: 20px;
    color: #000;
    transition: 0.4s ease;
}
.social-icon i:hover{
    color: darkred;
}